# Node / React Native
node_modules/
npm-debug.log*
yarn-error.log*
.expo/
dist/
build/

# Android
android/.gradle/
android/.idea/
android/build/
**/build/
*.iml

# iOS
ios/Pods/
ios/build/
*.xcworkspace

# Misc
.DS_Store
